<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>


{% extends "index.html"%}

{% block content %}
<div class="card-body">
<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Wellcome,  <i class="fas fa-user-tie"></i>  {{ request.user.first_name }} {{ request.user.last_name }}</span><br><br>
    <a class="btn btn-info right" href="{% url 'logout' %}"> Logout </a>
	<a class="btn btn-info right mr-2" href="{% url 'calendarapp:member' %}?{{ next_month }} "> Next Month <i class="fas fa-angle-double-right"></i> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendarapp:member' %}?{{ prev_month }}"> <i class="fas fa-angle-double-left"></i> Previous Month </a>
    <a class="btn btn-danger" href="{% url 'DisplayGenetratedMinutes'%}"> <i class="fas fa-sticky-note"></i> Board Minutes </a>
</div>

</div>
<hr>
    {{ calendar }}

{% endblock %}

{%block side%}
{%endblock%}

{%block boardmembers%}
{%endblock%}