{% extends "index.html"%}
{%block content%}

<table class="table table-striped">
  <tr class="table-info">
      <th>Description</th>
      <th>Documents</th>
      <th>Date Uploaded</th>
      <th>Action</th>
  </tr>
    {%for doc in document%}
    <tr>

        <td>{{doc.description}}</td>
        <td><a href=" {{ doc.document.url }}" class="btn btn-primary btn-sm" target="_blank"><i class="fas fa-cloud-download-alt"></i> Download</a>
        <td>{{doc.uploaded_at}}</td>
        <td><a class="btn btn-danger" href="#"> <i class="fas fa-trash-alt"></i> Remove</a></td>

    </tr>
     {%endfor%}
</table>

{% endblock%}