{% extends 'index.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'calendarapp:calendar' %}"> <i class="fas fa-calendar-alt"></i> Calendar </a>
            <a class="btn btn-info right mr-2" href="{% url 'calendarapp:event_edit' event.pk %}"> <i class="far fa-edit"></i> Edit Event </a>
        </div>

        <div class="clearfix">
            <h3>Event Name: {{ event.title }}</h3>
            <p class="text-danger">From <span style="color: gray;">{{ event.start_time }}</span> To <span style="color: gray;">{{ event.end_time }}</span></p>
            <hr>
            <p>{{ event.description }}</p>
        </div>
        <hr>
        <div class="clearfix">
            <h4 class="left" > Members of this Event</h4>
            <a class="btn btn-success right" href="{% url 'calendarapp:add_eventmember' event.id %}"> <i class="fas fa-user-plus"></i> Add Member </a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for member in eventmember %}

                <tr role="row">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
                    <td>{{ member.user.username }}</td>
                    <td>{{ member.user.email }}</td>


                    <td>
                        <a class="btn btn-danger" href="{% url 'calendarapp:remove_event' member.id %}"> <i class="fas fa-trash-alt"></i> Remove</a>
                    </td>


                    {%endfor%}




                </tr>


              </tbody>
        </table>



     <br><br>

        <h4 class="left" > Availability</h4>


         <table class="table table-bordered">
            <thead>

                <tr>
                  <th>Meeting Agenda</th>
                  <th style="width: 10px">Member</th>

                    <th>Availability</th>
                  <th>Date Submited</th>
                </tr>
              </thead>

              <tbody>

                <tr role="row">
                 {% for member in avail %}
                    <td>{{member.event.title}}</td>
                    <td>{{member.user.first_name}}</td></td>

                    <td>{{member.available_for_meeting}}</td>
                    <td>{{member.Todays_date}}</td>



              {%endfor%}
                </tr>


              </tbody>
        </table>

    </div>







{% endblock %}