<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Controller</title>
    <!--fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!--fontawesome end-->

</head>
<body>
{% extends "member.html"%}

{%block content%}

<div class="alert alert-danger" role="alert">
  Ops! You do not have permission to access this page. Please contact the System Administrator for more info!
</div>


{%endblock%}
</body>
</html>